{% for event in events %}
  {% set date = moment(event.when, 'YYYY-MM-DD') %}
  <article class="{% if lastDate and (date != lastDate) %}new-date{% endif %}">
    <div class="date">
      <div class="weekday"><span class="inner">{{ moment(event.when, 'ddd') }}</span></div>
      <div class="day">{{ moment(event.when, 'DD') }}</div>
      <div class="month">{{ moment(event.when, 'MMM') }}</div>
    </div>
    <h4 class="name">{{ event.name | e }} <a class="button edit" href="/change?id={{ event._id }}&amp;date={{ event.date }}">Edit</a></h3>
    <h4 class="venue">{{ event.venue | e }}, {{ moment(event.when, 'h:mma') }}</h4>
    <h5 class="address"><a href="https://www.google.com/maps/place/{{ event.address | urlencode | e }}">{{ event.address | e }}</a></h5>
    <div class="details">{{ event.details | e | nlbr }}</div>
  </article>
  {% set lastDate = date %}
{% endfor %}
